In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings("ignore")

In [2]:
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException
from selenium.common.exceptions import ElementClickInterceptedException

## 1. Scrape the details of most viewed videos on YouTube from Wikipedia.   Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:
### A) Rank B) Name C) Artist D) Upload date E) Views

In [3]:
# try:
driver = webdriver.Chrome("F:\Program Files (x86\chromedriver.exe")

In [4]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [29]:

Rank = []
Name = []
Artist = []
UploadDate = []
Views = []



# Scraping Rank of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
    
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text.split("\"")[1])
except NoSuchElementException:
    Name.append("_")
    
try:
    for i in driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[3]'):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("_")

    
#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,' //table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]'):
        UploadDate.append(i.text)
except NoSuchElementException:
    UploadDate.append('-')
    

# Scraping Views of videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text+"M")
except NoSuchElementException:
    Views.append("_")

In [30]:
wikipedia = pd.DataFrame({"Rank":Rank,
                         "Name of Video":Name,
                         "Artist":Artist,
                         "Upload Date":UploadDate,
                         "Views on Video":Views})

In [31]:
wikipedia

,Rank,Name of Video,Artist,Upload Date,Views on Video
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.73M
1,2.,Despacito,Luis Fonsi,"January 12, 2017",8.14M
2,3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.69M
3,4.,Bath Song,Cocomelon ‚Äì Nursery Rhymes,"May 2, 2018",6.15M
4,5.,Shape of You,Ed Sheeran,"January 30, 2017",5.97M
5,6.,See You Again,Wiz Khalifa,"April 6, 2015",5.86M
6,7.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",5.26M
7,8.,Wheels on the Bus,Cocomelon ‚Äì Nursery Rhymes,"May 24, 2018",5.14M
8,9.,Uptown Funk,Mark Ronson,"November 19, 2014",4.89M
9,10.,Learning Colors ‚Äì Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.87M
10,11.,Gangnam Style,Psy,"July 15, 2012",4.77M
11,12.,Masha and the Bear ‚Äì Recipe for Disaster,Get Movies,"January 31, 2012",4.55M
12,13.,Dame Tu Cosita,El Chombo,"April 5, 2018",4.32M
13,14.,Axel F,Crazy Frog,"June 16, 2009",3.87M
14,15.,Sugar,Maroon 5,"January 14, 2015",3.86M
15,16.,Roar,Katy Perry,"September 5, 2013",3.78M
16,17.,Counting Stars,OneRepublic,"May 31, 2013",3.77M
17,18.,Sorry,Justin Bieber,"October 22, 2015",3.65M
18,19.,Baa Baa Black Sheep,Cocomelon ‚Äì Nursery Rhymes,"June 25, 2018",3.61M
19,20.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.58M
20,21.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.56M
21,22.,Dark Horse,Katy Perry,"February 20, 2014",3.50M
22,23.,Faded,Alan Walker,"December 3, 2015",3.44M
23,24.,Perfect,Ed Sheeran,"November 9, 2017",3.42M
24,25.,Lakdi Ki Kathi,Jingle Toons,"June 14, 2018",3.42M
25,26.,Let Her Go,Passenger,"July 25, 2012",3.42M
26,27.,Girls Like You,Maroon 5,"May 31, 2018",3.40M
27,28.,Humpty the train on a fruits ride,Kiddiestv Hindi ‚Äì Nursery Rhymes & Kids Songs,"January 26, 2018",3.38M
28,29.,Lean On,Major Lazer,"March 22, 2015",3.37M
29,30.,Bailando,Enrique Iglesias,"April 11, 2014",3.37M

## 2. Scrape the details teamIndia‚Äôsinternationalfixtures from bcci.tv. 
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [3]:
driver=webdriver.Chrome('chromedriver.exe')

# Getting the webpage of mentioned url 
url=('https://www.bcci.tv/')
driver.get(url)

In [4]:
#clickin on International tab
International = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a') # click button
International.click()

In [30]:
#Creating Empty List
Name=[]
Series=[]
Place=[]
Date=[]
Time=[]
#Scrapping Name
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]'):
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
    
#Scrapping Series

try:    
    for i in driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]'):
        Series.append(i.text[10:27])
except NoSuchElementException:
    Series.append('-')
#scrapping Place
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]'):
        Place.append(i.text.split("-")[1].strip())
except NoSuchElementException:
    Place.append('-')
#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')
#Scrapping Time
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]'):
        Time.append(i.text)
except NoSuchElementException:
    Time.append('-')

In [31]:
match = pd.DataFrame({"Title":Name,
                     "Series Name": Series,
                     "Place": Place,
                     "Date":Date,
                     "Time":Time})

In [32]:
match

,Title,Series Name,Place,Date,Time
0,ICC WORLD TEST CHAMPIONSHIP FINAL 2023,TEST CHAMPIONSHIP,"Kennington Oval, London",7 JUN 2023,3:30 PM IST

In [33]:
driver.close()

## 3. Scrape the details of State-wise GDP ofIndia fromstatisticstime.com. 
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code

In [38]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
driver.get('https://www.statisticstimes.com')
time.sleep(3)

In [39]:
driver.find_element(By.XPATH,'/html/body/div[1]/div/a').click()

In [40]:
 #Clicking on Economy button
driver.find_element(By.XPATH,"//div[@class='navbar']/div[2]/button").click()

In [41]:
#Clicking on India
driver.find_element(By.XPATH,"//div[@class='dropdown-content']/a[3]").click()

In [43]:
# Clicking on GDP of Indian Economy
GDP = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()
time.sleep(3)

In [44]:
# Creating empty list
Rank = []
State = []
GSDP2 = []
Share = []
GDPbillion = []
# Scraping Rank
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
# Scraping State
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")
# Scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")
# Scraping Share (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")
# Scraping GDP $ billion
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDPbillion.append(i.text)
except NoSuchElementException:
    GDPbillion.append("_")

In [45]:
INDIA=pd.DataFrame()
INDIA['RANK']=Rank
INDIA['STATE']=State
INDIA['GSDP2']=GSDP2
INDIA['SHARE']=Share
INDIA['GDPbillion']=GDPbillion
INDIA

   RANK                      STATE      GSDP2   SHARE GDPbillion
0     1                Maharashtra  2,632,792  13.94%    399.921
1     2                 Tamil Nadu  1,630,208   8.63%    247.629
2     3              Uttar Pradesh  1,584,764   8.39%    240.726
3     4                    Gujarat  1,502,899   7.96%    228.290
4     5                  Karnataka  1,493,127   7.91%    226.806
..  ...                        ...        ...     ...        ...
61   29                     Sikkim     25,141   0.15%     17,060
62   30                   Nagaland     24,534   0.15%          -
63   31          Arunachal Pradesh     22,488   0.13%          -
64   32                    Mizoram     20,947   0.13%     17,797
65   33  Andaman & Nicobar Islands          -       -          -

[66 rows x 5 columns]

## 4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [95]:
driver=webdriver.Chrome('chromedriver.exe')
url=('https://github.com/')
driver.get(url)

In [96]:
# Click on explore

explore = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
try:
    explore.click()
    trending = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
    trending.click()
    time.sleep(5)
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [97]:
#Creating empty list:
URLs = []


#Fetching urls for each repository
repository = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for i in repository:
    URLs.append(i.get_attribute("href"))

In [98]:
repository_title = []
Description = []
Contributors = []
Language = []
lang = []

# Scraping data from all repository page
for i in URLs:
    driver.get(i)
    time.sleep(2)
    # Repository Titles
    try:
        title = driver.find_element(By.XPATH,'//strong[@class="mr-2 flex-self-stretch"]')
        repository_title.append(title.text)
    except NoSuchElementException:
        Description.append('-')
    
    # Description
    
    try:
        desc = driver.find_element(By.XPATH,'//p[@class="f4 my-3"]')
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
    
    # Contributor
    
    try:
        contributor = driver.find_element(By.XPATH,'//div[@class="mt-3"]')
        Contributors.append(contributor.text.split("+")[-1].strip())
    except NoSuchElementException:
        Contributors.append('-')
        
   # Languages 
    lang=[]
    try:
        for i in driver.find_elements(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]'):
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        lang.append('-')

In [99]:
github = pd.DataFrame({"Repository Title":repository_title,
                      "Description": Description,
                      "Contributors": Contributors,
                      "Languages Used":Language})

In [100]:
github

,Repository Title,Description,Contributors,Languages Used
0,gpt4free,"decentralising the Ai Industry, just some lang...",26 contributors,"[Python, Other]"
1,AudioGPT,"AudioGPT: Understanding and Generating Speech,...",-,"[Python, Shell]"
2,Track-Anything,Track-Anything is a flexible and interactive t...,-,"[Python, HTML]"
3,tabby,A terminal for a more modern age,174 releases,"[TypeScript, Pug, SCSS, JavaScript, C++, Batch..."
4,chart-gpt,AI tool to build charts based on text input,4 contributors,"[TypeScript, CSS, JavaScript]"
5,swift-foundation,The Foundation project,2 contributors,"[Swift, C]"
6,databerry,The no-code platform for connecting custom dat...,-,"[TypeScript, JavaScript, CSS, Other]"
7,IF,-,1 release,[Python]
8,Segment-Everything-Everywhere-All-At-Once,"Official implementation of the paper ""Segment ...",-,"[Python, Cuda, C++, Shell]"
9,WizardLM,WizardLM: Empowering Large Pre-Trained Languag...,-,[Python]
10,QQFlacMusicDownloader,[ÁßãÂüéËêΩÂè∂] QQ Èü≥‰πêÊ∫êÊó†ÊçüÊ≠åÊõ≤‰∏ãËΩΩ,-,"[Python, Vue, JavaScript, TypeScript, Java, CS..."
11,awesome,üòé Awesome lists about all kinds of interesting...,545 contributors,[]
12,ai-collection,The Generative AI Landscape - A Collection of ...,31 contributors,[]
13,PentestGPT,A GPT-empowered penetration testing tool,3 releases,"[Python, HTML]"
14,hyperswitch,An Open Source Financial Switch to make Paymen...,10 releases,"[Rust, Nix, JavaScript, Shell, Dockerfile, Mak..."
15,dndserver,Dark and Darker private server implementation ...,-,"[Python, Other]"
16,NeMo-Guardrails,NeMo Guardrails is an open-source toolkit for ...,-,"[Python, HTML]"
17,loopgpt,Modular Auto-GPT Framework,1 release,[Python]
18,skyagi,SkyAGI: Emerging human-behavior simulation cap...,19 releases,"[Python, Shell, Makefile]"
19,Auto-GPT-MetaTrader-Plugin,The AutoGPT MetaTrader Plugin is a software to...,-,"[Python, Batchfile, Shell, Makefile]"
20,LLaMA-Adapter,Fine-tuning LLaMA to follow Instructions withi...,-,"[Python, Shell]"
21,Motrix,A full-featured download manager.,17 releases,"[JavaScript, Vue, SCSS, Other]"
22,trader,‰∫§ÊòìÊ®°Âùó,-,[Python]
23,WebGPT,Run GPT model on the browser with WebGPU. An i...,-,"[JavaScript, HTML, Python]"
24,angular,The modern web developer‚Äôs platform,267 releases,"[TypeScript, JavaScript, Starlark, HTML, CSS, ..."

## 5. Scrape the details of top 100 songs on billiboard.com. 
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [101]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
# Getting the webpage of mentioned url 
driver.get('https://www.billboard.com/')

In [103]:
#Clicking on charts
charts=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a').click()

In [104]:
view_chart = driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a').click()

In [105]:
# Creating empty lists
Song_Name = []
Artist_Name = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [106]:
# Scraping name
for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]'):
    Song_Name.append(i.text)
len(Song_Name)

100

In [107]:
#Scrappin Artist name 1 st one
Artist_Name.append(driver.find_element(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']").text)
#Remainig Artist Name
artistTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
Artist_Name.extend([i.text for i in artistTag])
#Scapping Rank
rank=[]
rankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
rank.extend([i.text for i in rankTag[:3]])
#Remaining RAnk
Rank=[]
RankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
Rank.extend([i.text for i in RankTag])

In [108]:
# removing ''
for i in Rank:
    if i=='':
        Rank.remove(i)

In [109]:
# slicing as per requirement
lastweekpos=Rank[0::3]
lastweekpos.insert(0,rank[0])
peakPos=Rank[1::3]
peakPos.insert(0,rank[1])
weeksonBoard=Rank[2::3]
weeksonBoard.insert(0,rank[2])

In [111]:
# Create Dataframe
df=pd.DataFrame()
df['SongName']=Song_Name[0:100]
df['ArtistName']=Artist_Name
df['Last Week']=lastweekpos[0:100]
df["PeekPosition"]=peakPos[0:100]
df['Weeks On board']=weeksonBoard[0:100]
df

,SongName,ArtistName,Last Week,PeekPosition,Weeks On board
0,Kill Bill\nSZA\n4\n1\n19,SZA,4,1,19
1,Last Night\nMorgan Wallen\n1\n1\n12,Morgan Wallen,1,1,12
2,Flowers\nMiley Cyrus\n3\n1\n14,Miley Cyrus,3,1,14
3,Princess Diana\nIce Spice & Nicki Minaj\n-\n4\n1,Ice Spice & Nicki Minaj,-,4,1
4,Ella Baila Sola\nEslabon Armado X Peso Pluma\n...,Eslabon Armado X Peso Pluma,10,5,5
...,...,...,...,...,...
95,Memory Lane\nOld Dominion\n96\n96\n3,Old Dominion,98,50,17
96,Love Again\nThe Kid LAROI\n88\n40\n12,The Kid LAROI,,,
97,'98 Braves\nMorgan Wallen\n100\n27\n7,Morgan Wallen,71,71,2
98,Di Que Si\nGrupo Marca Registrada X Grupo Fron...,Grupo Marca Registrada X Grupo Frontera,,,
99,It Matters To Her\nScotty McCreery\n-\n100\n1,Scotty McCreery,93,30,7

In [112]:

driver.close()

## 6. Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [113]:
# connect to webdriver
driver = webdriver.Chrome("chromedriver.exe")

# get webpage
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [114]:
#Creating empty list
Bookname = []
Authorname = []
Volumessold = []
Publisher = []
Genre = []

In [115]:
#scraping book names data
for i in driver.find_elements(By.XPATH,"//tbody//tr/td[2]"):
    Bookname.append(i.text)
    
#Scraping author names data
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Authorname.append(i.text)
    except NoSuchElementException:
        Authorname.append('-')
time.sleep(1)

#Scraping data of volumes sold
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[4]"):
    Volumessold.append(i.text)
    
#Scraping data of publisher names
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[5]"):
    Publisher.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[6]"):
    Genre.append(i.text)

In [116]:
#Creating dataframe for scraped data
Novels=pd.DataFrame({})
Novels['Book Name'] = Bookname
Novels['Author'] = Authorname
Novels['Volume sold'] = Volumessold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [117]:
driver.close()

## 7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [118]:
# connect to webdriver
driver = webdriver.Chrome("chromedriver.exe")
# get webpage
driver.get("https://www.imdb.com/list/ls095964455/")
driver.maximize_window()

In [119]:
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

#Scraping data of Names
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)
    
#Scraping data of Year span
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)
    
#Scraping data of Run time
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    Run_time.append(i.text)
    
#Scraping data of Ratings
for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)
    
#Scraping data of votes
for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [120]:
# Creating dataframe for scraped data
TVseries=pd.DataFrame({})
TVseries['Name'] = Name
TVseries['Year Span'] = Year_span
TVseries['Genre'] = Genre
TVseries['Run Time'] = Run_time
TVseries['Ratings'] = Ratings
TVseries['Votes'] = Votes
TVseries

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011‚Äì2019),"Action, Adventure, Drama",57 min,9.2,"2,154,451"
1,Stranger Things,(2016‚Äì2024),"Drama, Fantasy, Horror",51 min,8.7,"1,236,296"
2,The Walking Dead,(2010‚Äì2022),"Drama, Horror, Thriller",44 min,8.1,"1,023,495"
3,13 Reasons Why,(2017‚Äì2020),"Drama, Mystery, Thriller",60 min,7.5,"301,152"
4,The 100,(2014‚Äì2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"260,123"
...,...,...,...,...,...,...
95,Reign,(2013‚Äì2017),Drama,42 min,7.4,"51,431"
96,A Series of Unfortunate Events,(2017‚Äì2019),"Adventure, Comedy, Drama",50 min,7.8,"63,466"
97,Criminal Minds,(2005‚Äì ),"Crime, Drama, Mystery",42 min,8.1,"206,931"
98,Scream: The TV Series,(2015‚Äì2019),"Comedy, Crime, Drama",45 min,7,"42,974"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"256,627"

In [121]:
driver.close()

## 8. Details of Datasetsfrom UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through cod

In [122]:
# connect to webdriver
driver = webdriver.Chrome("chromedriver.exe")
# get webpage
driver.get(" https://archive.ics.uci.edu/")
driver.maximize_window()

In [123]:
# Finding view all dataset button from the webpage
viewall_dataset = driver.find_element(By.XPATH,"//tbody[1]//tr/td[2]/span[2]/a")    
page_url = viewall_dataset.get_attribute("href")
driver.get(page_url)

In [124]:
# Fetching page urls of all datasets 
view_list = driver.find_element(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")  
list_url = view_list.get_attribute("href")           
driver.get(list_url)

In [125]:
# Fetching urls for each dataset
dataset_url = driver.find_elements(By.XPATH,"//p[@class='normal']//b/a")    

urls = []     
for i in dataset_url:
    urls.append(i.get_attribute("href"))

In [126]:
#Creating empty lists
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

In [127]:
for i in urls:
    driver.get(i)
    time.sleep(2)
    
    #Scraping Dataset name
    try: 
        dataset_name = driver.find_element(By.XPATH,"//span[@class='heading']")
        Dataset_name.append(dataset_name.text)
    except NoSuchElementException:
        Dataset_name.append('-')
    
    
    #Scraping data type
    try:
        data_type = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[2]")
        if data_type.text == "N/A": raise NoSuchElementException
        Data_type.append(data_type.text)
    except NoSuchElementException:
        Data_type.append('-')
    
    
    #scraping Task
    try:
        task = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    
    
    # Scraping Attribute type
    try:
        attribute_type = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[2]")
        if attribute_type.text == "N/A": raise NoSuchElementException
        Attribute_type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_type.append('-')
    
    
    # Scraping No of instances
    try:
        instances = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[4]")
        if instances.text == "N/A": raise NoSuchElementException
        No_of_instances.append(instances.text)
    except NoSuchElementException:
        No_of_instances.append('-')
    
    
    # Scraping No of attributes
    try:
        attribute = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[4]")
        if attribute.text == "N/A": raise NoSuchElementException
        No_of_attributes.append(attribute.text)
    except NoSuchElementException:
        No_of_attributes.append('-')
    
    
    # Scraping year
    try:
        year = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')

In [128]:
# Creating dataframe 

ML=pd.DataFrame({})
ML['Data Name'] = Dataset_name[:622]
ML['Data Type'] = Data_type[:622]
ML['Task'] = Task[:622]
ML['Attribute type'] = Attribute_type[:622]
ML['No of instance'] = No_of_instances[:622]
ML['No of attributes'] = No_of_attributes[:622]
ML['Year'] = Year[:622]
ML

,Data Name,Data Type,Task,Attribute type,No of instance,No of attributes,Year
0,2.4 GHZ Indoor Channel Measurements Data Set,Multivariate,Classification,Real,7840,5,2018
1,"3D Road Network (North Jutland, Denmark) Data Set","Sequential, Text","Regression, Clustering",Real,434874,4,2013
2,3W dataset Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8,2019
3,9mers from cullpdb Data Set,Sequential,"Classification, Regression",Real,158716,4,2021
4,: Simulated Data set of Iraqi tourism places D...,Multivariate,"Classification, Clustering",-,232,16,2020
...,...,...,...,...,...,...,...
617,Youtube cookery channels viewers comments in H...,"Multivariate, Text",Classification,-,9800,3,2019
618,YouTube Multiview Video Games Dataset Data Set,"Multivariate, Text","Classification, Clustering","Integer, Real",120000,1000000,2013
619,YouTube Spam Collection Data Set,Text,Classification,-,1956,5,2017
620,Z-Alizadeh Sani Data Set,-,Classification,"Integer, Real",303,56,2017
621,Zoo Data Set,Multivariate,Classification,"Categorical, Integer",101,17,1990

## 9. Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details: 
A) Name
B) Designation
C)Company 
D)Skills they hire for 
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [9]:
driver=webdriver.Chrome('chromedriver.exe')

driver.maximize_window()
# Getting the webpage of mentioned url 
url=('https://www.naukri.com/hr-recruiters-consultants')
driver.get(url)
time.sleep(2)

In [10]:
search_rec = driver.find_element(By.XPATH,'//input[@class="sugInp"]')
search_rec.send_keys("Data Science")

In [11]:
search_btn = driver.find_element(By.XPATH,'//button[@class="fl qsbSrch blueBtn"]')
search_btn.click()

In [12]:
#Creating empty lists
Name = []
Designation = []
Company = []
Skills = []
Location = []

In [13]:
try:
#Scraping data of Names
    for i in driver.find_elements(By.XPATH,"//span[@class='fl ellipsis']"):
        Name.append(i.text)
    time.sleep(3)
except NoSuchElementException:
    Name.append("-")
#Scraping data of Designation
try:
    for i in driver.find_elements(By.XPATH,"//span[@class='ellipsis clr']"):
        Designation.append(i.text)
except NoSuchElementException:
    Designation.append("-")
#Scraping data of company name
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='vcard']//p[1]/a[2]"):
        Company.append(i.text)
except NoSuchElementException:
    Company.append("-")

#Scraping data of locations
try:
    for i in driver.find_elements(By.XPATH,'//small[@class="ellipsis"]'):
        Location.append(i.text)
    time.sleep(3)
except NoSuchElementException:
    Location.append("-")

In [17]:

Naukri=pd.DataFrame({})
Naukri['Name'] = Name
Naukri['Designation'] = Designation
Naukri['Company'] = Company
Naukri['Location'] = Location
Naukri

,Name,Designation,Company,Location
0,Aakash Harit,HR Manager,Data Science Network,Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai
13,Priyanka Akiri,HR Manager,Infinitive Software Solutions,Hyderabad
14,Kapil Devang,HR Manager,BISP Solutions,Bhopal
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad
16,Vaishnavi Kudalkar,HR Executive,Codeachive learning,Mumbai
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Pune
19,Manisha Yadav,HR Executive,Easi Tax,Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,Pune
26,Deeparchi Sharma,Company Recruiter,ZIGRAM,Gurgaon
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore
29,kumar,Proprietor,trainin,Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,Delhi
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,Bengaluru / Bangalore
32,Dhruv Dev Dubey,Company Recruitment Head,NETAPS FOUNDATION,Noida
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,RMS Risk Management Solutions,Mysoru / Mysore
34,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Hyderabad / Secunderabad
35,Avodha,Business Development Associate,Nikitha Palaparthi,Bengaluru / Bangalore
36,Priya Khare,Senior Manager,Independent Consultant,New Delhi
37,Amit Sharma,Consultant,ASCO consulting,Chennai
38,Kanan,senior technology instructor,NY INST,Aligarh
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,Salt Lake City
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,Pune
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,Bengaluru / Bangalore
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Mumbai
43,Ankit Sinha,Head Analytics,Suntech Global,Indore
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Bengaluru / Bangalore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,MYSORE
46,Ashwini,Director Global Delivery,MRP Advisers,Hyderabad / Secunderabad
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,Bengaluru / Bangalore
48,Rajani Nagaraj,HR Manager,WildJasmine,Mumbai
49,ROHIT Kumar,Architect,LNT Private Limited,-